@import './variables'; 
.h1{
    color:lighten($primary, 0%);
    margin: $marginTB;
}
.h11{
    color:darken($primary, 15%);
    margin:$marginTB;
}
.h2{
    color:$success;
    margin: $marginTB;
}
.h3{
    color:$danger;
    margin: $marginTB;
}

%btn{
    border:none;
    color:$white;
    padding: 10px 8px;
    font-weight: bold;
}

.btn-primary{
    @extend %btn;
    background:$primary;
}
.btn-danger{
    @extend %btn;
    background:$danger;
}
.btn-success{
    @extend %btn;
    background:$success;
}
.container{
    padding: 20px 15px;
    background:#DDD;
    margin-top:20px;
    .d-flex{
        display: flex;
        .card{
            border:solid 2px black;
            margin:0px 10px;
            padding:10px;
            a{
                color:$primary;
                text-decoration: none;
            }
            a:hover{
                color:$success;
            }
        }
    }
}

.text-pro{
    background-color:$secondary;
    padding:20px;
    color:setTextColor(lighten($secondary,40%));
}

.container1{
    padding:30px;
    text-align: center;
    @include settingBackgroundColor($dark);
}

